* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}


.navbar-links li a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-links li a.button {
    background-color: #EE4D2F;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar-links li a.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navimg {
    width: 200px;
    height: 80px;
}

.tekst h1 {
    color: #EE4D2F;
}

.tekst {
    margin-left: 150px;
    margin-top: 50px;
}

.tekst button {
    background-color: #EE4D2F;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 10px;
    border: 0;
}

.tekst button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footerlinks {
    width: 100%;
    display: inline-block;
    align-items: center;
    background-color: #1D1D1D;
    height: 100px;
    padding-top: 20px;
}

footer {
    text-align: center;
    background-color: #1D1D1D
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer ul li a:hover {
    opacity: 0.8;
}