* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #e0e7ea;
}

.menu {
    width: 30px;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    display: none;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin: 30px 0px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    height: 75px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

nav ul li a:hover {
    color: #EE4D2F;
}

nav ul li a.button {
    background-color: #EE4D2F;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footerlinks {
    width: 100%;
    display: inline-block;
    align-items: center;
    background-color: #1D1D1D;
    height: 100px;
    padding-top: 20px;
}

footer {
    text-align: center;
    background-color: #1D1D1D
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer ul li a:hover {
    opacity: 0.8;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, 150px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

h1 {
    color: #EE4D2F;
    text-align: center;
    margin-top: 10px;
}

.block1 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 1;
    grid-row: 1;
    padding: 5px;
}

.block2 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
}

.block3 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 3;
    grid-row: 1;
    padding: 5px;
}

.block4 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 1;
    grid-row: 2;
    padding: 5px;
}

.block5 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 2;
    padding: 5px;
}

.block6 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 3;
    grid-row: 2;
    padding: 5px;
}

.block7 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 1;
    grid-row: 3;
    padding: 5px;
}

.block8 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 3;
    padding: 5px;
}

.block9 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 3;
    grid-row: 3;
    padding: 5px;
}

.block10 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 1;
    grid-row: 4;
    padding: 5px;
}

.block11 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 4;
    padding: 5px;
}

.block12 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 3;
    grid-row: 4;
    padding: 5px;
}

.block13 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 1;
    grid-row: 5;
    padding: 5px;
}

.block14 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 5;
    padding: 5px;
}

.block15 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 3;
    grid-row: 5;
    padding: 5px;
}

.block16 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 1;
    grid-row: 6;
    padding: 5px;
}

.block17 {
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    grid-column: 2;
    grid-row: 6;
    padding: 5px;
}

@media only screen and (max-width:480px) {
    .navbar {
        height: auto;
    }

    nav {
        width: 100%;
        background-color: #1d1d1d;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul {
        flex-direction: column;
        align-items: right;
        justify-content: right;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .menu {
        display: block;
    }

    #menulist {
        overflow: hidden;
        transition: 1s;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar {
        height: auto;
    }

    nav {
        width: 100%;
        background-color: #1d1d1d;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul {
        flex-direction: column;
        align-items: right;
        justify-content: right;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .menu {
        display: block;
    }

    #menulist {
        overflow: hidden;
        transition: 1s;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .navbar {
        height: auto;
    }

    nav {
        width: 100%;
        background-color: #1d1d1d;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul {
        flex-direction: column;
        align-items: right;
        justify-content: right;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .menu {
        display: block;
    }

    #menulist {
        overflow: hidden;
        transition: 1s;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(8, 150px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .block1 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 1;
        padding: 5px;
    }
    
    .block2 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 1;
        padding: 5px;
    }
    
    .block3 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 2;
        padding: 5px;
    }
    
    .block4 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 2;
        padding: 5px;
    }
    
    .block5 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 2;
        padding: 5px;
    }
    
    .block6 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 3;
        padding: 5px;
    }
    
    .block7 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 3;
        padding: 5px;
    }
    
    .block8 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 4;
        padding: 5px;
    }
    
    .block9 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 4;
        padding: 5px;
    }
    
    .block10 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 5;
        padding: 5px;
    }
    
    .block11 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 5;
        padding: 5px;
    }
    
    .block12 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 6;
        padding: 5px;
    }
    
    .block13 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 6;
        padding: 5px;
    }
    
    .block14 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 7;
        padding: 5px;
    }
    
    .block15 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 7;
        padding: 5px;
    }
    
    .block16 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 1;
        grid-row: 8;
        padding: 5px;
    }
    
    .block17 {
        width: 300px;
        height: 150px;
        background-color: #FFFFFF;
        grid-column: 2;
        grid-row: 8;
        padding: 5px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    nav ul li {
        margin-top: -10px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1280px) {

    nav ul li {
        margin-top: -10px;
        padding-right: 20px;
    }
}