* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #e0e7ea;
}

.navbar {
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}


.navbar-links li a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-links li a.button {
    background-color: #EE4D2F;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar-links li a.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navimg {
    width: 200px;
    height: 80px;
}

.article {
    padding: 50px 100px;
    border-radius: 5px;
}

.article h1 {
    color: #EE4D2F;
}

.article p {
    margin-top: 10px;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #EE4D2F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerlinks {
    width: 100%;
    display: inline-block;
    align-items: center;
    background-color: #1D1D1D;
    height: 100px;
    padding-top: 20px;
}

footer {
    text-align: center;
    background-color: #1D1D1D;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer ul li a:hover {
    opacity: 0.8;
}


h2 {
    display: none;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #EE4D2F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.8;
}

#extra-buttons {
    display: none;
}

#extra-buttons button {
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #222;
    color: #fff;
}


th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #555;
}